<div class="wrap-container d-flex flex-column m-5">
    <div class="wrap-container-title pt-5 fs-1 fw-medium">Редактирование категории доходов</div>
    <form class="mt-5">
        <div class="mb-3">
            <input type="text" class="form-control" id="nameEditElement" placeholder="Название..." value="">
        </div>
        <div class="create-buttons d-flex gap-3">
            <button type="button" class="btn btn-success" id="saveBtn">Сохранить</button>
            <button type="button" class="btn btn-danger" id="cancelEdit">Отмена</button>
        </div>
    </form>
</div>