<div class="popup-container d-flex justify-content-center align-items-center">
    <div class="popup-element bg-white d-flex flex-column justify-content-center align-items-center p-5">
        <div class="popup-text">Вы действительно хотите удалить категорию?</div>
        <div class="popup-buttons mt-4">
            <button type="button" class="btn btn-success me-2" id="deleteBtn">Да, удалить</button>
            <button type="button" class="btn btn-danger" id="cancelBtn">Не удалять</button>
        </div>
    </div>
</div>